<p class="m-0">
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center" (click)="onClickingSidebarMenuHamburger()">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      {{pageHeader}}
    </div>
    <div>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
